---
import ProgressiveImage from "./ProgressiveImage.astro";
import IphoneImage from "@/assets/iphone-variant.webp";
import MotorolaImage from "@/assets/motorola-variant.webp";
import SamsungImage from "@/assets/samsung-variant.webp";
import XiaomiImage from "@/assets/xiaomi-variant.webp";
import BlurIphoneImage from "@/assets/iphone-variant-small.webp";
import BlurMotorolaImage from "@/assets/motorola-variant-small.webp";
import BlurSamsungImage from "@/assets/samsung-variant-small.webp";
import BlurXiaomiImage from "@/assets/xiaomi-variant-small.webp";
---

<div class="flex flex-wrap w-[400px] gap-y-5">
	<ProgressiveImage
		src={IphoneImage}
		blurSrc={BlurIphoneImage.src}
		alt="Imagem de um Iphone"
		width={200}
		height={200}
	/>
	<ProgressiveImage 
		src={MotorolaImage}
		blurSrc={BlurMotorolaImage.src}
		alt="Imagem de um Motorola"
		width={200} 
		height={200}
	/>
	<ProgressiveImage
		src={SamsungImage}
		blurSrc={BlurSamsungImage.src}
		alt="Imagem de um Samsung"
		width={200} 
		height={200}
	/>
	<ProgressiveImage
		blurSrc={BlurXiaomiImage.src}
		src={XiaomiImage}
		alt="Imagem de um Xiaomi"
		width={200} 
		height={200}
	/>
</div>